build/
bin/
obj/
*.o
*.obj
*.so
*.dylib
*.dll
.DS_Store
*.png
*.jpg
test_*
*.deps.json
*.runtimeconfig.json
*.staticwebassets.*
apphost
*.cache
*.pdb
*.nupkg
*.snk
node_modules/
__pycache__/
*.pyc
.env
Uploads/
